.main-home {
    height: 100%;
    display: flex;
    margin-top: 80px;
    gap: 50px;
}

.cashback {

    display: flex;
    display: flex;
    gap: 20px;

    background-color: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.home-1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card-layout {
    height: 50%;

    &::after {
        content: '';
        position: absolute;
        background-image: linear-gradient(rgb(35, 124, 50), #0cac19);
        z-index: 0;
        width: 470px;
        height: 220px;
        border-radius: 20px;
        top: 0;
        left: 0;
        transform: rotate(190deg);
        animation: card 1s linear;
    }
}

@keyframes card {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(190deg);
    }
}

.card-debit {
    position: relative;
    height: 100%;
    background-color: #232633;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: #0cac19;
        border-radius: 100%;
        top: 4%;
        right: 4%;
    }

    .card-content {
        position: relative;
        z-index: 2;
        padding: 1rem;
        color: white;
        padding: 30px;

        .accoun-debit {
            margin-bottom: 20px;

            .de-t {
                font-size: 20px;
                margin-bottom: 15px;
            }

            .de-p {
                font-size: 35px;
                font-weight: 700;
                margin-top: -10px;
                margin-bottom: -20px;
            }
        }

        .account-home-ctaa {
            .da-pa {
                font-size: 20px;
            }
        }
    }
}


.client-card {
    background-color: #131a39;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;

    .client-p {
        font-weight: bold;
        font-size: 15px;
        text-transform: uppercase;
    }
}

.history-layout {
    height: 200px;
    margin-top: 30px;

}

.card-history {
    height: 100%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .history-text {
        align-items: center;
        display: flex;
        gap: 10px;
        font-size: 20px;
        color: #14a542;
        padding: 20px 20px;
        padding-bottom: 10px;
        border-bottom: 2px solid #cfcfcf;

        .tr {
            font-size: 40px;
            padding: 10px;
        }
    }

    .h-i {
        font-size: 30px;
    }

    .h-p {
        color: #4a4a4a;
    }
}

.text-home {
    margin-top: 20px;

    .home-title {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 10px;
        color: #4a4a4a;
    }

    .home-p {
        font-size: 17px;
        font-weight: 500;
        color: #4a4a4a;
        width: 70%;
    }

    .home-cta {
        margin-top: 20px;
        padding: 10px 50px;
        border-radius: 10px;
        color: white;
    }
}

.home-fig {
    width: 430px;
    position: absolute;
    right: -100px;
    bottom: 0;
}

.tr-cont {
    justify-content: space-between;
    display: flex;
    gap: 20px;
}

.home-tr {
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    padding: 30px 20px;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .tr-text {
        align-items: center;
        display: flex;
        gap: 10px;
        font-size: 20px;
        color: #14a542;

        .tr-p {
            font-size: 20px;
            font-weight: 500;
            color: #4a4a4a;
        }
    }

    .tr-i {
        font-size: 30px;
    }

    .tr-form {
        margin-top: 30px;
        display: flex;
        gap: 10px;

        .tr-in {
            padding: 10px;
            border-radius: 10px;
            border: 2px solid #bababa;
            width: 100%;
        }

        .tr-sub {
            padding: 10px 20px;
            border-radius: 10px;
            color: white;
            background-color: #131a39;
        }
    }

    .tr-sub {
        padding: 10px 20px;
        border-radius: 10px;
        color: white;
        background-color: #131a39;
        cursor: pointer;
    }

    .visa {
        margin-top: 10px;
        font-size: 14px;
        color: #535353;
    }
}


@media screen and (max-width: 1500px) {
    .card-layout {
        &::after {
            width: 100%;
        }
    }
}


@media screen and (max-width: 1000px) {

    .home-1 {
        width: 100%;
        height: 100vh;

        .history-layout {
            height: 100%;
        }
    }

    .tr-cont {
        flex-direction: column;
        gap: 0;
    }
}

@media screen and (max-width: 850px) {
    .main-home {
        flex-direction: column;

        .home-1 {
            height: initial;
        }

        .card-layout {
            display: block;
            margin: 0 auto;
            width: 70%;

            &::after {
                height: 100%;
            }
        }

        .history-layout {
            height: initial;
        }

        .home-tr {
            width: 100%;
        }

        .home-title {
            font-size: 20px;
        }

        .home-p {
            font-size: 13px;
        }
    }
}

@media screen and (max-width: 600px) {

    .main-home {
        flex-direction: column;

        .cashback {
            display: none;
        }

        .card-layout {
            width: 100%;
        }

        .home-1 {
            height: initial;
        }

        .history-layout {
            height: initial;
        }

        .home-tr {
            width: 100%;
        }
    }

    .home-header {
        flex-direction: column-reverse;
        justify-content: start;
        gap: 10px;

        .client-card {
            margin-top: 10px;
        }
    }
}