.graph{
    width: 100%;
    padding: 40px 20px;
    padding-bottom: 50px;
}

.cir{
    display: flex;
}

@media screen and (max-width: 1000px) {
    .graph-div{
        display: flex;
        flex-direction: column;
    }

    .graph{
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 600px) {

    .graph-div{
        width: 100%;
    }
    .graph{
        padding: 10px 5px;
        width: 100%;
        flex-direction: column;
    }

    .cir{
        display: flex;
        flex-direction: column !important;
    }
}