.list-panel{
    margin-top: -30px;
    width: 100%;
    height: 315px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    color: white;
    overflow: hidden;
}

.item-list-div{
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    overflow-y: scroll;
    overflow-x: hidden;
}

@media screen and (max-width: 1070px) {
    .item-list-div{
        justify-content: center;
    }   
}