.dashboard {
    display: flex;
    overflow: hidden;
    height: 100%;
    padding-top: 70px;
}

.control-content {
    width: 300px;
    height: 100vh;
}

.menu-icon {
    color: #FFF;
    font-size: 40px;
    position: absolute;
    cursor: pointer;
    display: none;
}

.expenses-content {
    width: 100%;
}

.list-content {
    display: flex;
    justify-content: center;
    padding-left: 30px;
    padding-right: 35px;
    width: 100%;
}

.list-fade {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


/* BLOQUES */

.block-1 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.resume-content {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-content {
    width: 50%;
    padding-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1470px) {
    .expenses-content {
        width: 100%;

        .block-1 {
            .resume-content {
                width: 100%;

                .res-fade {
                    width: 90%;
                }
            }

            .form-content {
                width: 100%;
                padding-right: 0;

                .for-fade {
                    width: 90%;
                }
            }
        }
    }

    .list-content {
        padding: 0 30px;
    }
}

@media screen and (max-width: 1070px) {

    .dashboard {
        overflow: hidden;
        height: 100vh;
        padding-bottom: 30px;
    }

    .expenses-content {
        flex-direction: column;
        width: 100vh;
        margin-top: -70px;
        overflow-y: scroll;
        overflow-x: hidden;

        .block-1 {
            margin-top: 100px;
            padding-bottom: 100px;
            flex-direction: column;
            height: 100vh;
            gap: 50px;

            .resume-content {
                width: 100%;

                .res-fade {
                    width: 80%;
                }
            }

            .form-content {
                width: 100%;
                padding-right: 0;

                .for-fade {
                    width: 80%;
                }
            }
        }
    }

    .list-content {
        margin-top: 200px;
        padding:0 70px;
    }
}

@media screen and (max-width: 900px) {

    .list-content {
        margin-top: 0px;
        padding: 0 35px;
    }
}



@media screen and (max-width: 600px) {

    .dashboard {
        flex-direction: column;
        height: 100%;
        padding-bottom: 100px;
    }

    .control-content {
        width: 100%;
        height: 0;
        z-index: 100;
    }

    .menu-icon {
        top: 10px;
        display: block;
        z-index: 100;
    }

    .disable-menu {
        z-index: 0;
    }

    .expenses-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-top: 0;

        overflow-y: hidden;

        .block-1 {
            flex-direction: column;
            gap: 50px;
            margin-bottom: 0px;
            height: 50%;

            .resume-content {
                width: 100%;

                .res-fade {
                    width: 80%;
                }
            }

            .form-content {
                width: 100%;
                padding-right: 0;

                .for-fade {
                    width: 80%;
                }
            }
        }
    }

    .list-content {
        margin-top: -50px;
        padding: 0 40px;
    }
}
