.form-panel{
    margin-top: -50px;
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    
}
.form-expense{
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-title{
    color: #333;
    font-weight: bold;
    padding: 10px 20px;
    border-bottom: 1px solid #3C3C3C;
}

.form-camp{
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .form-block{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 50%;

        .form-expense-label{
            color: #333;
        }
        .form-expense-input{
            background-color: #ffffff;
            padding: 8px;
            border-radius: 8px;
            border: none;
            color: #333;
            width: 100%;
            border: 1px solid #a09f9f;
        }

        .category-input{
            background-color: #ffffff;
            padding: 8px;
            border-radius: 8px;
            color: #333;
            border: 1px solid #a09f9f;

            
        }
    }
}

.form-expense-submit{
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    background-color: #00C950;
    font-weight: bold;
}

  
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%); 
    cursor: pointer; 
}

@media screen and (max-width: 1470px){
    .form-panel{
        width: 100%;
        padding-bottom: 20px;
    }

    .form-camp{
        width: 100%;
        
        .form-block{
            width: 50%;
        }
    }
}

@media screen and (max-width: 900px){
    .form-panel{
        width: 100%;
        height: 100%;
    }

    .form-camp{
        flex-direction: column;
        width: 100%;
        
        .form-block{
            width: 100%;
        }
    }
}

@media screen and (max-width: 600px){
    .form-panel{
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
    }

    .form-camp{
        flex-direction: column;
        width: 100%;
        
        .form-block{
            width: 100%;
        }
    }
}