.budget-main{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding-bottom: 90px;

    .main-text{
        padding: 50px;
        width: 50%;
        z-index: 100;
    }

}

.git-content{
    background-color:#151515;
    transition: all .5s;
    cursor: pointer;

    &:hover{
        box-shadow: 0px 0px 10px 5px rgba(108, 108, 108, 0.211);
    }
}

.github_image{
    overflow: hidden;
    border-radius: 100%;
    transition: all .5s;
    color: white;
    font-size: 40px;
    user-select: none;
}

.name-app{
    position: absolute;
    color: white;
    background-color:#151515;
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: bold;
    animation: glowing 2s infinite;
    user-select: none;
}


/* TEXTOS EN GRADIENTES */

.gradient-text {
    font-weight: bold;
    background-image: radial-gradient(circle at 120.71% 50%, #ff8900 0, #ff7900 12.5%, #ff6500 25%, #ff4900 37.5%, #f71800 50%, #eb0006 62.5%, #e1000f 75%, #db0018 87.5%, #d70022 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text-2 {
    font-weight: bold;
    background: linear-gradient(90deg, #262626, #FFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.app-title{
    color: white;
    font-size: 115px;
    line-height: 110px;
    margin-bottom: -5px;
    user-select: none;
}

.control-text{
    user-select: none;
    margin-bottom: 40px;
}

.icon-content{
    display: flex;
    margin-left: 10px;
    gap: 20px;
}

.icon-bub{
    display: block;
    text-align: center;
    font-size: 50px;
    padding: 7px;
    border-radius: 10px;
    color: #0B0B0B;

    transition: all .5s;

    &:hover{
        transform: translateY(-10px);
    }
}

.mon-p{
    font-weight: bold;
    color: #606060;
}

.ico-money{
    background-image: radial-gradient(circle at 94.01% 46.15%, #bdd731 0, #a6d836 12.5%, #87d337 25%, #5ec834 37.5%, #00b92e 50%, #00a92c 62.5%, #009d33 75%, #009640 87.5%, #009351 100%);
}
.ico-coffe{
    background-image: radial-gradient(circle at 94.01% 46.15%, #ffff92 0, #ffee5e 25%, #e2c418 50%, #bc9b00 75%, #9b7800 100%);
}
.ico-home{
    background-image: radial-gradient(circle at 94.01% 46.15%, #abc0ff 0, #0076fb 50%, #0039c2 100%);
}
.ico-play{
    background-image: radial-gradient(circle at 94.01% 46.15%, #ff4eff 0, #dd33ff 25%, #9c00fb 50%, #4000eb 75%, #0002e2 100%);
}

/* FORMULARIO */

.main-form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-main{
    background-color: #151515;
    padding: 30px;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    position: relative;

    .form-label{
        font-size: 30px;
        font-weight: bold;
        color: #b8b8b8;
    }

    .form-input{
        padding: 10px;
        border-radius: 20px;
        background-color: #262626;
        text-align: center;

    }

    .form-p{
        margin-top: -20px;
    }

    .form-submit{
        cursor: pointer;
        border-radius: 50px;
        padding: 10px;
        color: #a09f9f;
        background-color: #262626;
        font-weight: bold;
        transition: background 0.5s ease, color 0.5s ease;

        &:hover{
            background: linear-gradient(45deg, #32CD32, #00643a);
            color: white; 
            box-shadow: 0px 0px 30px 10px rgba(8, 83, 29, 0.5);
        }
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;  

}

input[type="number"] {
  -moz-appearance: textfield;  
}

input[type="number"]::-ms-clear {
  display: none;
}

@media screen and (max-width: 1280px){
    .app-title{
        display: flex;
        gap: 20px;
        font-size: 100px;
    }
    .control-text{
        font-size: 110px;
    }

    .main-form{
        height: 50%;
        z-index: 10;
        
        .form-main{
            width: 400px;
        }
    }
}

@media screen and (max-width: 850px){
    .budget-main{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 80px;

        .main-text{
            padding: 50px;
            padding-top: 100px;
        }

        .app-title{
            display: flex;
            justify-content: center;
            gap: 20px;
            line-height: 110px;
        }

        .control-text{
            display: flex;
            justify-content: center;
        }

        .main-form{
            height: 50%;
            z-index: 10;
        }
    }
}

@media screen and (max-width: 600px){
    .budget-main{
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 0;
        padding-bottom: 50px;

        .main-text{
            padding: 50px;
            padding-top: 100px;
        }
    }
    .app-title{
        display: flex;
        justify-content: center;
        gap: 20px;
        font-size: 65px;
        line-height: 80px;
    }

    .control-text{
        display: flex;
        justify-content: center;
        font-size: 70px;
    }

    .icon-content{
        justify-content: center;
        margin-left: 0;
    }

    .main-form{
        height: 50%;
        z-index: 10;
        
        .form-main{
            margin-top: -100px;
            width: 330px;
            z-index: 10;
        }
    }

    .custom-toast{
        width: 100%;
        position: absolute;
        right: 0;
    }
}