.nav {
    margin-top: -30px;
    width: 300px;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.close-icon {
    color: #FFF;
    font-size: 40px;
    position: absolute;
    cursor: pointer;
    display: none;
}

.graf-cont {
    border-bottom: 2px solid #2b2b2b;
    margin-bottom: 30px;
}

.graf {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 50%;
    background-color: #4b4b4b;

}

.money-cont {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;

    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
}

.money-div {
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #333;
}

.ico {
    background-color: #d5d5d5;
    font-size: 30px;
    padding: 5px;
    border-radius: 50%;
    color: #3a3a3a;
}

.amount {
    color: #333;
}

.reset-btn {
    background-color: rgb(186, 19, 4);
    padding: 10px;
    color: white;
    font-weight: bold;
    width: 100%;
    border-radius: 10px;
    transition: all .5s;

    &:hover {
        box-shadow: 0px 0px 30px 10px rgba(83, 8, 8, 0.5);

    }
}

@media screen and (max-width: 600px) {
    .nav {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0px;
        left: 0;
        transition: all .5s;
        padding: 100px 30px;
        z-index: 1000;
    }

    .close-icon {
        right: 20px;
        top: 15px;
        display: block;
        z-index: 100;
    }

    .show-menu {
        top: 0;
    }

    .close-menu {
        top: -1000px;
    }

    .menu-icon {
        display: block;
        right: 20px;
    }

    .progress-bar {
        display: block;
        margin: 0 auto;
        width: 250px;
    }

    .graf-cont {
        margin-top: -50px;
    }

    .reset-btn {
        display: block;
        margin: 0 auto;
        width: 90%;
        margin-bottom: 100px;
    }
}

.main-form{
    margin-top: 20px;
}