.item-exp {
    background-color: #ecebeb;
    width: 360px;
    height: 120px;
    border-radius: 10px;
    padding: 20px 15px;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    figure {
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }
}


.exp-text {
    display: flex;
    align-items: center;
    gap: 20px;
}

.exp-p {
    color: #adadad;
}

.exp-name {
    font-size: 18px;
    font-weight: bold;
}

.exp-amount {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #32CD32;
    width: 30%;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: bold;
}

.exp-date {
    font-size: 13px;
    color: #4c4c4c;
}

.btn-sect {
    display: flex;
    gap: 15px;
}

.btn {
    background-color: white;
    padding: 10px;
    color: #FFF;
    border-radius: 5px;
    transition: all .5s;
    cursor: pointer;
}

.btn-edit {
    background-color: rgb(65, 65, 255);

    &:hover {
        background-color: rgb(22, 22, 173);
        box-shadow: 0px 0px 10px rgb(22, 22, 173);
    }
}

.btn-completed {
    background-color: rgb(26, 181, 24);

    &:hover {
        background-color: rgb(22, 173, 40);
        box-shadow: 0px 0px 10px rgb(45, 173, 22);
    }
}

.btn-delete {
    background-color: rgb(255, 61, 61);

    &:hover {
        background-color: rgb(179, 27, 27);
        box-shadow: 0px 0px 10px rgb(179, 27, 27);
    }
}

@media screen and (max-width: 1070px) {
    .item-exp {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .item-exp {
        width: 100%;
        height: 170px;
        flex-direction: column;
        align-items: start;

    }

    .btn-sect {
        justify-content: center;
        width: 100%;

        .btn-edit,
        .btn-delete {
            width: 50%;
            display: flex;
            justify-content: center;
            text-align: center;
        }
    }
}